%h2.border
  = tw("logs.past_deliveries")

= smart_listing_controls_for :logs, class: "context-menu" do
  %form{action: ""}
    = select_logs_by_status
    = filter_box "logs_filter"

= smart_listing_render :logs
