- unless smart_listing.empty?
  %table.table.table-striped
    %thead
      %tr 
        %th.col-md-6= tw("attributes.title")
        %th= tw("attributes.state")
        %th= tw(:label_list)
        %th= tw("attributes.mailer")
        %th
    %tbody
      - smart_listing.collection.each do |mailing|
        %tr
          %td= link_to friendly_name(mailing), {:action => :show, :id => mailing}
          %td= boolean_icon mailing.enabled, :toggle
          %td= link_to friendly_name(mailing.list), list_path(mailing.list)
          %td= display_mailing_mailer mailing.mailer_name
          %td.actions= smart_listing_item_actions [{name: :show, url: {action: :show, id: mailing}}]

  = smart_listing.paginate 
  = smart_listing.pagination_per_page_links 
- else
  = t(".no_mailings")
