%h2.border
  = t(".history")
  %span.dashboard-periods
    = render 'filter_logs_nav_by_period'

.history-graph{data: history_graph_data}

%p

.container-fluid
  .well.row.statusbox
    .col-sm-12.clearfix.statusbox-container
      = render 'filter_logs_nav_by_status'

%p

= smart_listing_render :logs

%h2.border
  = tw("logs.scheduled_deliveries")
= smart_listing_render :schedules
