- unless @item.new_record?
  = render partial: "header"

= form_for @item, :as => :item, :layout => :horizontal, :remote => !@item.new_record?, :control_col => "col-sm-5" do |f|
  - content_for_expert do
    = f.text_field :name
  = f.text_field :title
  - if @item.new_record?
    = f.maily_context_select

  - if @item.new_record?
    = f.buttons :create
  - else
    = f.buttons :save, :cancel
