= form_for @item, :as => :item, :layout => :horizontal, :remote => !@item.new_record?, :control_col => "col-sm-5", html: {class: @item.new_record? ? "new-mailing-form" : "edit-mailing-form"} do |f|
  - if f.object.new_record?
    %h2= tw("mailings.general")

  - content_for_expert do
    = f.text_field :name
  = f.text_field :title
  = f.maily_mailer_select
  - if @item.new_record?
    = f.maily_list_select
  = f.text_area :conditions
  = f.check_box :override_subscription

  - if f.object.new_record?
    .template-generic
      = render partial: "form_template_generic", locals: {f: f}
    .template-mailer
      = render partial: "form_template_mailer", locals: {f: f}

  - if @item.new_record?
    = f.buttons :create
  - else
    = f.buttons :save, :cancel
