- if @item.disabled?
  .alert.alert-warning= tw("mailings.warning_disabled")

.dl-horizontal
  - content_for_expert do
    %dt= tw("attributes.name")
    %dd= @item.name
  %dt= tw("attributes.title")
  %dd= @item.title

  %dt= tw("attributes.mailer")
  %dd= display_mailing_mailer @item.mailer_name

  %dt= tw(:label_list)
  %dd= link_to friendly_name(@item.list), list_path(@item.list)

  %dt= tw("attributes.override_subscription")
  %dd
    = boolean_icon(@item.override_subscription, text: :yes)
    = display_help_icon("override_subscription", scope: "mailings")

%p

= render_context_attributes_info @item.list

%p

.dl-horizontal
  %dt= tw("attributes.conditions")
  %dd
    - if @item.conditions.present?
      %code= @item.conditions
    - else
      = tw(:label_no_conditions)
