%h1
  = friendly_name @item
  = link_to toggle_one_time_mailing_path(@item), :remote => true, :class => "link link-sm mailing-state", :confirm => @item.enabled? ? t(".disable_confirm") : t(".enable_confirm"), :method => :post do
    = display_mailing_state @item
  = link_to edit_one_time_mailing_path(@item), :remote => true, :class => "link link-sm" do
    = icon(:pencil)
    = tw("commons.edit")
  - unless @item.archived?
    = link_to one_time_mailing_path(@item), :method => :delete, :data => {:confirm => t(".confirm_archive")}, :class => "link link-sm" do
      = icon(:"archive")
      = tw("commons.archive")

.box.noborder.resource-editable.details
  = render :partial => "item"

.resource-editable.template
  - if @item.generic_mailer?
    %h2.border
      = tw("mailings.template")
      = link_to edit_template_one_time_mailing_path(@item), :remote => true, :class => "link link-sm" do
        = icon(:pencil)
        = tw("commons.edit")
    .dl-horizontal
      %dt= tw("attributes.subject")
      %dd= @item.subject
    %br
    %pre= @item.template
    %br
  - else
    %h2.border
      = tw("mailings.template")
    %p= tw("mailings.non_generic_mailer_info", mailer: display_mailing_mailer(@item.mailer_name).html_safe, generic_mailer: display_mailing_mailer(:generic)).html_safe

%h2.border
  = tw(:label_entity_plural)

= smart_listing_controls_for :entities, :class => "context-menu" do
  - if @entities.any?
    %form{:action => ""}= filter_box "entities_filter"
= smart_listing_render :entities

%h2.border
  = tw("logs.past_deliveries")

= smart_listing_render :logs
